:host {
  display: block;
  background-color: #eaeaea;
  padding: 40px;
}

amplify-s3-image {
  --height: 100px;
  --width: 100px;
  width: 100px;
}

amplify-s3-album::shadow(*) {
  --height: 100px;
  --width: 100px;
}
