<amplify-authenticator [class.login]="showLoginForm">
  <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
    <header>
      <h1>Welcome {{ user.signInUserSession.idToken.payload.email }}!</h1>
      <button mat-flat-button (click)="signOut()">Sign Out</button>
    </header>
    <mat-tab-group>
      <mat-tab label="File share example">
            <amplify-share-file-share></amplify-share-file-share>
      </mat-tab>
      <mat-tab label="Dynamo share example">
        <amplify-share-graphql-share></amplify-share-graphql-share>
      </mat-tab>
    </mat-tab-group>
  </ng-template>
</amplify-authenticator>
