<div class="buttons">
<button mat-flat-button color="primary" (click)="addTodo()">Add todo</button>
<button mat-flat-button color="primary" (click)="clearAll()">Clear all</button>
</div>
<mat-list role="list">
  <div mat-subheader>Todos</div>
  <mat-list-item *ngFor="let todo of todos" role="listitem">
    <div mat-line>{{todo.name}}</div>
    <div mat-line> {{todo.updatedAt | date: 'medium'}} </div>
    <div mat-line>
      {{todo.description}}
      <span mat-line *ngIf="todo.owner"> owner </span>
      <span mat-line *ngIf="!todo.owner"> public </span>
    </div>
    <button mat-icon-button *ngIf="todo.owner" color="primary" (click)="removeTodo(todo.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
  <div style="padding-left: 20px;" *ngIf="todos.length === 0">
    Start by adding a todo.
  </div>
</mat-list>
